body {
  margin: 40px auto;
  width: 100%;
  max-width:1000px;
}

.box {
  background-color: rgb(235, 84, 84);
  color: #fff;
  border: 1px solid #000;
  /* border-radius: 5px; */
  padding: 20px;
  font-size: 150%;
  order: 1;
}

.box:nth-child(2n+1) {
  background-color: rgb(53, 130, 218);
  color: #000;
}
.box:nth-child(5n) {
  visibility: hidden;
}



.wrapper {
  width: 600px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: repeat(4, 100px);
  grid-template-columns: 100px 100px 100px 100px;
  grid-gap: 0px;
}

/* .box1 {
  order: 3;
}

.box2 {
  order: 2;
} */
