#parred{
    color: red;
    margin: 25px;
    padding: 15px;
    border-width: 3px;
    border-style: double;
    border-color: blue;
}

.classblue{
    color: blue;
    margin: 25px;
    padding: 15px;
    border-width: 3px;
    border-style: double;
    border-color: rgb(45, 99, 23; 
}