*{
    margin: 0;
    padding: 0;
    width: 100%;
}
/* HEADER*/
html, body{
    font-family: Arial, Helvetica, sans-serif;
}

div{
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
    border: double 3px red;
    padding: 10px 25px;
}

p{
    color: brown;
    font-size: 30px;
}

section{
    border: solid 5px blue;
}

div > p{
    font-style: italic;
}
div ~ p{
    font-weight: bold;
    font-style: oblique;
}