

input[name]:invalid:required{
    border: 2px solid blue;
}
input[name]:invalid{
    border: 2px solid red
}

input[name]:valid{
    background-color: green;
    border: 2px solid green;
}

input[type="email"]:focus{
    text-transform: uppercase;
}
p:empty{
    display: none;
}

h2::before, h2::after{
    content: "***";
}