.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1600px;
    gap: 2rem;
    height: 100vh;
}
.container .card {
    display: flex;
    flex-direction: column;
    width: 28%;
    overflow: hidden;
       box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1);
       border-radius: 1em;
       background: linear-gradient(to right, #ffffff, #ece9e6);
}

div.container, div.card {
    transform: perspective(900px) rotateX(60deg) scale(0.7);;
    box-shadow: 0px 20px 100px #555;
    transition: 0.5s ease all;
}

div.container:hover,div.card:hover {
    transform: rotate(0deg) scale(1) translate(10px);
}


