body {
    background-image: url("../img/rocket.png"), url("../img/earth.png"), url("../img/space2.png");
    background-repeat: no-repeat, no-repeat, repeat;
    background-size: auto, 20%, auto;
    background-position: 20% 20%, center center, 0% 0%;
    height: 100vh;
    animation-name: demo;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: both;
}
@keyframes demo {
    from {
        background-position: 20% 20%, center center, 0 0;
    }
    to {
        background-position: 20% 20%, center center, -1024px 0;
    }
}