
/* p{
    color: azure;
} */


/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    p{
        color:red;
    }
 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    p{
        color:green;
    }
 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    p{
        color:blue;
    }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    p{
        color:aqua;
    }
 }

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
    p{
        color: brown;
    }
 }